<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo-11ty-img-include</title>
    <style>
      table {
        border-collapse: collapse;
      }
      table, td, th {
        border: 1px solid hotpink;
        padding: .5em;
      }
    </style>
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">demo-11ty-img-include</a></h1>
    </header>

    <main>
      {{ content | safe }}
    </main>

  </body>
</html>
